body {
    background: #ecf0f3;
    font-family: Arial, Helvetica, sans-serifs;
    background-image: url(nasa--hI5dX2ObAs-unsplash.jpg);
    display: flex;
  height: 90vh;
  }
  .login {
    color: white;
 background-color: hsl(19, 76%, 48%);
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px rgba(0,0,0,0.22);
    border-radius: 8px;
    padding: 50px;
  }
  .login .head 
  {
    align-items: center;
    justify-content: center;
  }
  .login .head .index {
    font-size: 2.2em;
       text-align: center;
  }
  .login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
  }
  .login .form .text::placeholder {
    color: #D3D3D3;
  }
  .login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .login .form .password::placeholder {
    color: #D3D3D3;
  }
  .login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
  }
  .login .form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
  }
  .login .forgot {
  
    color: white;
  float: right;
  }
  